/* shared css */
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 12px 25px;
    border-radius: 15px;
    font-weight:normal;
    font-size: 18px;
    border: none;
    cursor: pointer;
}


img{
    max-width: 100%;
}

.btn-secondary{
    background-color: transparent;
    color: #FD6E0A;
    padding: 12px 25px;
    border-radius: 15px;
    font-weight:normal;
    font-size: 18px;
    border: 1px solid #FD6E0A;
    cursor: pointer;
    
}

*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    background-color: #FFF8F3;
}
/* nav css */



nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style:none;
    gap: 25px;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: rgb(34, 33, 33) ;
}
.logo{
    font-weight: bold;
    font-size: 45px;
}

.logo-v{
    color: #FD6E0A;
}

/* hero css */

.hero-section{
    background-color: #FFF8F3;
    
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left h2{
    font-size: 45px;

}

.hero-left h1{
    font-size: 85px ;
    margin-bottom: 5px;
}

.hero-left p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 18px;
}

/* about section css */
.about-section{
    background-color: #FFF8F3;
    border-radius: 20px;
    margin: 70px auto;
    text-align: center;
    padding: 156px 131px;


}

.about-section >h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

.about-section>p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-container{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}
.about-items p{
    font-weight: normal;
    color: #757575;
}
.about-items h3{
    font-weight: bold;
}

/* what i do css */

.whatido-section{
    margin: 60px auto;
    text-align: center;
}
.whatido-card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    

}
.whatido-card{
    
    width: 267px;
    height: 377px;
    padding: 33px;
    text-align: left;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
     cursor:pointer;
     
   

}
.whatido-card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    
    
}
   
    
    

.whatido-section h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

.whatido-section p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

.whatido-card>img{
    margin-bottom: 30px;
    

.whatido-card>h3{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.whatido-card>p{
    font-weight: normal;
    font-size: 16px;
    color: #757575;

}



    



